.showcase-container {
  position: relative;
  margin-top: 10%;
  margin-left: 30%;
  perspective: 1800px;
  float: left;
  z-index: 1;

  .artwork {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;

    &.artwork--front-view {

      &.artwork--front-view-hover{
        transform: rotate3d(0,1,0,35deg);
      }

      .artwork--hover{
        height: 100%;
        z-index: 11;
        position: absolute;
        cursor: pointer;

        &.artwork--hover-left{
          width: 20%;
        }

        &.artwork--hover-right{
          width: 80%;
          left: 20%;
        }
      }

    }

    &.artwork--inlay-view {
      transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);

      .artwork__front {
        transform: translate3d(0,0,0px) rotate3d(0,1,0,-179deg) !important;
      }
    }

    &.artwork--back-view {
      transform: translate3d(0,0,0px) rotate3d(0,1,0,179deg);
    }

    .artwork-cover {
      width: inherit;
      height: inherit;
      display: block;
      position: absolute;
      cursor: pointer;
    }

    .artwork__front {
      transform-style: preserve-3d;
      transform-origin: 0% 50%;
      transition: transform 1s;
      z-index: 10;

      > div {
        border-radius: 0 3px 3px 0;
        box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &.artwork__front-inside {
          background-color: #a04239;
          transform: rotate3d(0,1,0,-179deg);
        }

        &.artwork__front-cover{
          background-color: #80B3FF;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: -1px;
        width: 1px;
      }
    }

    .artwork__back {
      transform-style: preserve-3d;

      > div {
        border-radius: 0 3px 3px 0;
        box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &.artwork__back-inlay{
          background-color: #ff7bfe;
          transform: rotate3d(0,1,0,-179deg);
        }

        &.artwork__back-cover{
          background-color: #ffe646;
        }
      }

      &:after {
        left: auto;
        right: 10px;
      }
    }

    .artwork__spine {
      display: block;
      position: absolute;

      &.artwork__spine-left{
        background-color: #ff0c00;
        transform: rotate3d(0,1,0,-90deg);
      }

      &.artwork__spine-right{
        background-color: #fff;
        top: 5px;
        transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
        backface-visibility: hidden;
      }
    }

  }
}
